{% extends "base.html" %}
{% block title %}{{ plant.name }}{% endblock %}
{% block content %}
    <section class="details-container">
        <section class="plant-details">
            <header class="details-header">
                <h2>{{ plant.name }}</h2>
                <section class="plant-actions">
                    <a href="{{ url_for('plants.add_care', id=plant.id) }}" class="care-btn">Record Care</a>
                    {% if plant.needs_water %}<p class="water-alert">This plant needs water!</p>{% endif %}
                </section>
            </header>
            <div class="plant-info">
                <p>
                    <strong>Species:</strong> {{ plant.species }}
                </p>
                <p>
                    <strong>Date Acquired:</strong> {{ plant.date_acquired.strftime("%B %d, %Y") }}
                </p>
                <p>
                    <strong>Location:</strong> {{ plant.location }}
                </p>
                <p>
                    <strong>Watering Frequency:</strong> Every {{ plant.watering_frequency }} days
                </p>
                {% if plant.last_watered %}
                    <p>
                        <strong>Last Watered:</strong>
                        {{ plant.last_watered.strftime("%B %d, %Y") }}
                        {{ (now - plant.last_watered.astimezone(timezone.utc) ).days }} days ago
                    </p>
                {% else %}
                    <p>Not recorded</p>
                {% endif %}
                {% if plant.last_fertilized %}
                    <p>
                        <strong>Last Fertilized:</strong>
                        {{ plant.last_fertilized.strftime("%B %d, %Y") }}
                        {{ (now - plant.last_fertilized.astimezone(timezone.utc) ).days }} days ago
                    </p>
                {% else %}
                    <p>
                        <strong>Last Fertilized:</strong>
                        Not recorded
                    </p>
                {% endif %}
                {% if plant.notes %}
                    <section class="plant-notes">
                        <h6>Notes:</h6>
                        <p>{{ plant.notes|nl2br }}</p>
                    </section>
                {% endif %}
                <div class="action-buttons">
                    <a href="{{ url_for('plants.edit', id=plant.id) }}" class="edit-btn">Edit</a>
                    <form method="POST" action="{{ url_for('plants.delete', id=plant.id) }}">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
