<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Plant Tracker{% endblock %}</title>
    <link href="{{ url_for('static', filename='styles/page.css') }}" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <a class="project-title" href="{{ url_for('main.index') }}">Plant Tracker</a>
      <ul>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a href="{{ url_for('main.dashboard') }}" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('plants.list') }}" class="nav-link">My Plants</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('plants.new') }}" class="nav-link">Add Plant</a>
        </li>
        {% endif %}
      </ul>
      <ul>
        {% if current_user.is_authenticated %}
        <li class="nav-item">Hello, {{ current_user.username }}</li>
        <li class="nav-item">
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('auth.register') }}" class="nav-link">Register</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <section id="flashed-messages">
      {% for msg in get_flashed_messages() %}
      <p>{{ msg }}</p>
      {% endfor %}
    </section>
    {% block content %}{% endblock %}
  </body>
</html>
