{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    <section class="dashboard-section">
        <h3>Plants Needing Water</h3>
        {% if plants_need_water %}
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Last Watered</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plant in plants_need_water %}
                        <tr>
                            <td class="plant-image">
                                {% if plant.images.first() %}
                                    <img src="{{ url_for('static', filename='uploads/plants/' + plant.images.first().filename) }}"
                                         alt="Plant Image">
                                {% else %}
                                    <span>No Image</span>
                                {% endif %}
                            </td>
                            <td>{{ plant.name }}</td>
                            <td>
                                {% if plant.last_watered %}
                                    {{ plant.last_watered.strftime("%b %d") }}
                                    ({{ (now - plant.last_watered).days }} days ago)
                                {% else %}
                                    <span class="never-water">Never</span>
                                {% endif %}
                            </td>
                            <td>{{ plant.location }}</td>
                            <td class="actions">
                                <a href="{{ url_for('plants.detail', id=plant.id) }}">View</a>
                                <a href="{{ url_for('plants.add_care', id=plant.id) }}">Add Care</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="empty-message">
                <p>All plants are watered! 💦🌱</p>
            </div>
        {% endif %}
    </section>
{% endblock %}
